[submodule "modules/clap-juce-extensions"]
	path = modules/clap-juce-extensions
	url = https://github.com/free-audio/clap-juce-extensions
[submodule "modules/juce"]
	path = modules/juce
	url = https://github.com/juce-framework/juce
